body {
    padding: 0px 0px 0px 0px !important;
    z-index: 0;
    margin: 0px !important;
    /* height: 100vh;
    overflow: hidden; */
    color: #454545;
}

p {
    text-align: justify;
}

.removeTextDec>.fa {
    color: #404040d8;
}

.removeTextDec>.fa:hover {
    color: #404040;
    text-decoration: none;
}

.top-buffer {
    margin-top: 7%;
}

.removeTextDec:hover {
    text-decoration: none;
}

.ImgBorder img {
    box-shadow: 4px 6px 6px #6868687c;
}

.textUnderLine {
    text-decoration: underline;
}

/* .navbar-brand {
    background-color: white;
} */
.BgFilter {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 110%);
}

.BgPriCard {
    background-color: #0294c99f;
    color: white;
    font-weight: 500;
}

.TsBasicBg {
    background: linear-gradient(0deg, rgba(46, 46, 46, 0.5), rgba(46, 46, 46, 0.5)), url(../img/1_XR.5.jpg) no-repeat;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.SupportBg {
    background: linear-gradient(0deg, rgba(46, 46, 46, 0.5), rgba(46, 46, 46, 0.2)), url(../img/support.jpg) no-repeat;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.AtBg {
    background: linear-gradient(0deg, rgba(46, 46, 46, 0.5), rgba(46, 46, 46, 0.2)), url(../img/Products/AT.154.png) no-repeat;
    height: 105vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.OBDBg {
    background: linear-gradient(0deg, rgba(46, 46, 46, 0.5), rgba(46, 46, 46, 0.2)), url(../img/Products/OBD.14.png) no-repeat;
    height: 105vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.BharathBg {
    background: linear-gradient(0deg, rgba(46, 46, 46, 0.5), rgba(46, 46, 46, 0.2)), url(../img/Products/Bharat\ 101\ IRNSS.152.png) no-repeat;
    height: 105vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.PartnerBg {
    background: linear-gradient(0deg, rgba(46, 46, 46, .2), rgba(46, 46, 46, .7)), url(../img/partnerHero.jpg) no-repeat;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.SchoolBg {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/solution/SchoolHero.jpg) no-repeat;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Ais140Bg {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/solution/AISHero.jpg) no-repeat;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.AquilaSolBg {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/solution/fleet\ management-01.png) no-repeat;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ConnectedMoblBg {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/solution/david-becker-V862kywlKkw-unsplash.jpg) no-repeat;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-light {
    background-color: rgba(255, 255, 255, 0.0) !important;
    /* backdrop-filter: saturate(180%) blur(0px); */
    /* transition: 0.4s; */
}

.bg-lightScroll {
    background-color: rgba(44, 44, 44, 0.5) !important;
    backdrop-filter: saturate(180%) blur(10px) !important;
    /* transition: 0.4s; */
}


.mega-dropdown {
    position: static !important;
}


.mega-dropdown-menu {
    color: white;
    background-color: rgba(0, 0, 0, 0.8) !important;
    backdrop-filter: saturate(180%) blur(10px) !important;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}


.showcase {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* background: var(--primary-color) url('./Group\ 258@2x.png') no-repeat center center/cover; */
    background-color: rgba(29, 29, 29, .9);
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-container:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content {
    z-index: 10;
}

.paddingZero {
    padding: 0px !important;
}

.BgXdLight {
    background-color: #F0F0F0;
}

.BgXdDark {
    background-color: #B2B2B2;
}

.BgXdNewsDark {
    background-color: #212121;
    border-radius: 10px;
    padding: 2%;
}

.eventsBGDark {
    background-color: #242424;
}

.navbar-brand {
    margin: 0px !important;
    padding: 0px !important;
}

/* .iTraingleBrand {
    border: 8px solid white;
    padding: 5px !important;
    background-color: rgba(255, 255, 255, 0.7);
} */

.nav-link {
    color: white !important;
}

.navbar a {
    /* font-family: 'Merriweather', serif !important; */
    font-family: 'Titillium Web', sans-serif !important;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}

.navbar a:hover {
    background-color: #5757579f;
}

.navbar {
    padding: 5px;
}

.btn-outline-warning {
    border-radius: 0px;
    border-left: none;
    border-right: none;
}

.btn-outline-primary {
    border-radius: 0px;
    border-left: none;
    border-right: none;
    font-family: 'Mulish', serif !important;
    font-weight: 400;
    font-size: 14px;
}

.btn-outline-primary:hover {
    background-color: rgba(2, 117, 216, 0.6);
}


/* drive assist custome design */
.BorderTopBot {
    border-bottom: 2px solid rgb(113, 165, 214);
    border-top: 2px solid rgb(113, 165, 214);
    padding: 25px;
    text-align: center;
}

.BorderTopBotBlack {
    border-bottom: 2px solid rgb(197, 197, 197);
    border-top: 2px solid rgb(197, 197, 197);
    padding: 25px;
    text-align: center;
}

/* .BgStrip {
    background-color: rgba(51, 51, 51, 0.9);
   
    padding: 25px;
    text-align: center;
} */

.AccTopBot {
    border-bottom: 2px solid rgb(113, 165, 214);
    border-top: 2px solid rgb(113, 165, 214);
    padding: 5px;
}

.HardTopBot {
    border-bottom: 2px solid rgba(78, 78, 78, 0.4);
    border-top: 2px solid rgba(78, 78, 78, 0.4);
    padding: 5px;
}



.borderRight {
    border-right: 2px solid rgb(113, 165, 214);
}

.borderLeft {
    border-left: 2px solid rgb(113, 165, 214);
}

.BorderRightDashed {
    border-right: 2px solid rgba(51, 51, 51, 0.171);
}

.BorderLeftDashed {
    border-left: 2px solid rgba(51, 51, 51, 0.171);
}

.BorderBottomDashed {
    border-bottom: 2px solid rgba(51, 51, 51, 0.171);
}


/* .BorderRightTopDashed {
    border-right: 1.5px dashed rgba(99, 99, 99, 0.342);
    border-top: 1.5px dashed rgba(99, 99, 99, 0.342);
} */

/* custome line hieght class */

.LineHieghtP {
    line-height: normal;
}

/* aquila solution background */
.AquilaSolutionBg {

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/Background.png);
    background-position: center;
    background-size: cover;
    /* background-color: rgba(29, 29, 29); */
}

.GpsBg {
    margin: 0px !important;
    padding: 250px 0px 250px 0px !important;
    background: url(../img/gpsBg.jpg);
    background-position: center;
    background-size: cover;
}

.InputSubNews {
    background-color: #212121;
    border: 1px solid white;
    width: 50px !important;
}

.MuliText {
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
}

.MerriText {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
}

.TitilliumText {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
}


h1,
h2,
h3,
h4,
h5 {
    /* font-family: 'Merriweather', serif !important; */
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
}

@media (min-width: 768px) {
    .h-md-100 {
        height: 50vh;
    }
}

.bg-dark1 {
    background: #3F6A8A;
}

.bg-dark2 {
    background-color: #F1E6C1;
}

.footerClass {
    background-color: #212121;
    margin-bottom: -16px;
    color: white;
}

footer {
    background-color: #212121;
    color: white;
}

footer h6 {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 12px;
}

footer a {
    color: #707070;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: none;
}

.SocialIcons ul {
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: center;
}

.SocialIcons li {
    padding: 15px;
}


.NewsLetter {
    width: 50%;
}

.NewsLetter img {
    margin: -210px 0px 0px -100px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .NewsLetter {
        width: 100%;
    }

    .NewsLetter img {
        width: 100%;
        margin-left: 0px;
    }
}


@media (max-width: 767px) {
    nav.navbar {
        max-height: 100vh;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    .NewsLetter {
        width: 100%;
    }

    .NewsLetter img {
        width: 100%;
        margin-left: 0px;
    }

    .video-container video {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        display: none;
    }

    .BorderRightDashed {
        border-right: none;
    }

    .borderRight {
        border-right: none;
    }

    .borderLeft {
        border-left: none;
    }


    .BasicFeaturesSolutions .col-6:nth-child(2n+1) {
        border-right: 2px solid rgba(51, 51, 51, 0.171);
    }

    .BasicFeaturesSolutions .col-6:nth-last-child(n+3) {
        border-bottom: 2px solid rgba(51, 51, 51, 0.171);
    }

    .BasicFeatures .col-6:nth-child(2n+1) {
        border-right: 2px solid rgba(51, 51, 51, 0.171);
    }

    .BasicFeatures .col-6:nth-last-child(n+3) {
        border-bottom: 2px solid rgba(51, 51, 51, 0.171);
    }

    .BorderBottomNone {
        border-bottom: none !important;
    }

    .Last2ChildExp .col-6:nth-last-child(n+2) {
        border-bottom: 2px solid rgba(51, 51, 51, 0.171);
    }

    .MenuBorderBottom {
        border-bottom: 1px solid rgba(122, 122, 122, 0.651);
    }

    .MenuBorderRight {
        border-right: none !important;
    }

    .extraMargin{
        margin-top: 3% !important;
    }
}

.extraMargin{
    margin-top: 25%;
}

.BasicFeatures .col-6:nth-last-child(n+4) {
    border-bottom: 2px solid rgba(51, 51, 51, 0.171);
}

.BasicFeaturesSolutions .col-6:nth-last-child(n+4) {
    border-bottom: 2px solid rgba(51, 51, 51, 0.171);
}

.Last2Child .col-6:nth-last-child(n+3) {
    border-bottom: 2px solid rgba(51, 51, 51, 0.171);
}

.Last1Child .col-6:nth-last-child(n+2) {
    border-bottom: 2px solid rgba(51, 51, 51, 0.171);
}

.BasicFeatures img {
    margin-top: 3%;
}



.Last2ChildExp .col-6:nth-last-child(n+3) {
    border-bottom: 2px solid rgba(51, 51, 51, 0.171);
}

.MenuBorderRight {
    border-right: 1px solid rgb(122, 122, 122);
}





@media (min-width:801px) {
    /* .caseStudyOverlap {
        margin-left: -75px;
    } */
}

@media screen and (max-width: 991px) {
    nav.navbar {
        max-height: 100vh;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
}

.dropdown-item {
    margin-bottom: 2.5vh;
}

.mega-dropdown-menu h6 {
    font-family: 'Titillium Web', sans-serif !important;
    font-weight: 700;
    font-size: 14px;
}

.mega-dropdown-menu a {
    padding: 10px 0px 5px 5px;
    color: white;
}

.mega-dropdown-menu a:hover {
    padding: 10px 0px 5px 5px;
    color: white;
    background-color: rgba(75, 75, 75, 0.5);
}

.active1 {
    background-color: rgba(90, 90, 90, 0.5);
}

.mega-dropdown-menu .dropdown-item {
    padding-left: 0px;
}

.ProductBg {
    background: url(/img/Products/Group\ 258@2x.png) no-repeat;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.EventsBg {
    background: linear-gradient(0deg, rgba(7, 7, 7, 0.5), rgba(7, 7, 7, 0.8)), url(/img/Events/action-adults-celebration-clouds-433452.jpg) no-repeat;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ClientsBg {
    background: linear-gradient(0deg, rgba(7, 7, 7, 0.5), rgba(7, 7, 7, 0.8)), url(/img/teamwork-makes-the-dream-work.jpg) no-repeat;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.BasicFeaturesSolutions .card {
    border: none;
}

.BasicFeaturesSolutions p {
    font-size: smaller;
}



.BasicFeaturesSolutions .card-text {
    text-align: center;
    font-size: 18px;
}

.BasicFeaturesSolutions img{
width: 40%;
}

.BasicFeatures img {
    width: 40%;
}

.BasicFeatures .card-text {
    text-align: center;
    font-size: 18px;
}

.BasicFeatures .card {
    border: none;
}

.BasicFeatures p {
    font-size: smaller;
}

.table td {
    font-size: small;
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    color: black;
}

.LogoOnImage {
    position: relative;
    text-align: center;
    color: white;
}

.centered1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom1 {
    position: absolute;
    bottom: 8px;
    left: 8px;
}




/* temp */

.NumbersFont h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 3rem;

}

.NumbersFont h6 {
    font-family: 'Titillium Web', sans-serif !important;
    text-transform: uppercase;
}

/* multiple background image for header section */

/* .MultipleBg>div {
    color: white;
    background-image: url(../audiBg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
} */

.BotUnderLine {
    border-bottom: 2px solid white;
}


.topBorder {
    /* border-top: 5px solid rgb(255, 255, 255); */
    background-color: rgba(2, 117, 216, 0.299);
    color: white;
    padding: 15px;
}

.itraingleBg {
    background-color: #212121;
    background-position: center;
    background-size: cover;
}

.HrBg {
    background-color: rgba(2, 117, 216, .7);
    height: .1rem;
}

.headerBg {
    background: linear-gradient(0deg, rgba(43, 43, 43, 0.8), rgba(51, 51, 51, 0.8)), url(../img/headerBg.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    padding: 5rem 2rem 5rem 2rem;
}

.MuktaText {
    font-family: 'Mukta', sans-serif;
    font-weight: 700;
    color: #ffff00;
}

.headerBgBorder {
    /* background-color: rgba(73, 73, 73, 0.4); */
    border-left: 6px solid #ffff00;
    padding: 1rem 0rem 1rem 1rem;
    border-radius: 0px 10px 10px 0px;
}


.footerBorder>div:not(:last-child) {
    border-right: 1px solid rgba(156, 156, 156, 0.719);
}

.footerhr {
    background-color: rgb(65, 65, 65);
}



/* .footerBorder {
    border-right: 1px solid rgba(184, 184, 184, 0.719);
} */

.carousel-control-prev-icon,
.carousel-control-next-icon {
    padding: 0px 0px 0px 0px;
    margin: 0px;
    height: 100px;
    width: 100px;
    outline: black;
    /* border-top: 2px solid #64A8C0;
    border-bottom: 2px solid #64A8C0; */
    background-image: none;
}


.carousel-control-next-icon:after {
    content: '>';
    font-size: 55px;
    color: #0884f8;
    padding: 0px;
    margin: 0px;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: #0884f8;
    padding: 0px;
    margin: 0px;
}



/* table custome css */
table {
    border-collapse: collapse;
}

table td {
    border: 2px solid rgba(163, 163, 163, 0.452);
}

table tr:first-child th {
    border: 2px solid rgba(163, 163, 163, 0.452);
}

table tr:first-child td {
    border-top: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:last-child {
    border-right: 0;
}

.Blog-buffer {
    margin-top: 200px !important;
}

.postList li {
    margin-top: 20px;
    line-height: 1.5;
}

.card-link {
    position: relative;
}









.container3 {
    position: relative;
    width: 24px;
    height: 24px;
}

.chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;

    }

    33% {
        opacity: 1;
        transform: translateY(30px);
    }

    67% {
        opacity: 1;
        transform: translateY(40px);
    }

    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

.text {
    display: block;
    margin-top: 500px;
    margin-left: -30px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
    to {
        opacity: 1;
    }
}




/* ---------------------------------------------- /*
 * Mouse animate icon
/* ---------------------------------------------- */
.mouse-icon {
    border: 3px solid rgb(255, 255, 255);
    border-radius: 16px;
    height: 40px;
    width: 25px;
    display: block;
    z-index: 10;
    opacity: 0.7;
}

.mouse-icon .wheel {
    -webkit-animation-name: drop;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    -webkit-animation-name: drop;
    animation-name: drop;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

.mouse-icon .wheel {
    position: relative;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    width: 4px;
    height: 10px;
    top: 4px;
    margin-left: auto;
    margin-right: auto;
}

@-webkit-keyframes drop {
    0% {
        top: 5px;
        opacity: 0;
    }

    30% {
        top: 10px;
        opacity: 1;
    }

    100% {
        top: 25px;
        opacity: 0;
    }
}

@keyframes drop {
    0% {
        top: 5px;
        opacity: 0;
    }

    30% {
        top: 10px;
        opacity: 1;
    }

    100% {
        top: 25px;
        opacity: 0;
    }
}

.EventsCarousel a {
    color: #212121;
}

.EventsCarousel a:hover {
    color: #212121;
    text-decoration: none;
}